body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 40px;
  }
  
  .container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    max-width: 1000px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
  }
  
  thead {
    background-color: #2980b9;
    color: white;
  }
  
  th, td {
    padding: 12px;
    border: 1px solid #ddd;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  .top-right {
    position: absolute;
    top: 20px;
    right: 30px;
  }
  
  .home-btn {
    background-color: #2980b9;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .home-btn:hover {
    background-color: #1c5980;
  }
  
